server:
  port: 10000
  servlet:
    session:
      tracking-modes: cookie
      timeout: 30m

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/spring?useSSL=false&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true
    username: spring
    password: 1234

  servlet:
    multipart:
      enabled: true
      file-size-threshold: 10MB
      max-file-size: 5MB
      max-request-size: 15MB

  mail:
    host: smtp.gmail.com
    port: 587
    username:
    password:
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
#            auth, 사용자 인증(username, password 확인)
#            start tls(Transport Layer Security), 메일 내용이 네트워크상에서 암호화되어 전송

mybatis:
  configuration:
    map-underscore-to-camel-case: true
  mapper-locations: classpath*:/mapper/**/*.xml
  type-aliases-package: com.app.trycatch.domain; com.app.trycatch.dto;
  type-handlers-package: com.app.trycatch.mybatis.handler